<h2 class="ui center aligned header">Welcome to MessageMe -
  <em>a complete Chat App</em>
</h2>

<h4 class="ui center aligned medium icon header">
  <i class="circular purple power off icon"></i>
  Log in to continue
</h4>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_for(:session, html: {class: "ui form", role: "form"}, url: login_path) do |f| %>
      <div class="field">
        <%= f.label :username, "Username" %>
        <div class="ui left icon input">
          <%= f.text_field :username, placeholder: "Username" %>
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <%= f.label :password, "Password" %>
        <div class="ui left icon input">
          <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
          <i class="lock icon"></i>
        </div>
      </div>
      <%= f.submit "Login", class: 'ui purple submit button' %>
    <% end %>
  </div>
  <div class="middle aligned column">
    <div class="ui disabled purple big button">
      <i class="signup icon"></i>
      Sign Up
    </div>
  </div>
</div>
<div class="ui vertical divider">
  Or
</div>
</div>
